.movie {
  width: calc(100% - 100px);
  flex-shrink: 0;
  /* border: 1px solid red; */
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 20px;
  padding-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 15%;
  
  animation: slide-it 10s infinite;
}

.movie img {
  max-width: 100%;
  height: auto;  
}

.movie:hover {
  cursor: pointer;
  transform: scale(1.1);
}